<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>USA Nullpreis Einstellungen</title>
        <title lang="en-GB">USA Zero Price Settings</title>

        <component name="sw-entity-single-select">
            <name>customerGroupId</name>
            <entity>customer_group</entity>
            <label>Kundengruppe</label>
            <label lang="en-GB">Customer Group</label>
        </component>

        <component name="sw-entity-single-select">
            <name>ruleId</name>
            <entity>rule</entity>
            <label>Rule Builder Regel</label>
            <label lang="en-GB">Rule Builder Rule</label>
        </component>
    </card>

</config>
